<div id="elemento">
  <html>
    <head> </head>
    <body>
      <div class="area">
        <div class="container-form">
          <form class="login-form-registro" action="javascript:void(0);">
            <h1>Registro usuario</h1>

            <div class="group">
              <input
                class="input-registro"
                type="text"
                name="nombre"
                id="nombre"
                autocomplete="off"
                required
              />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label class="label-registro">Nombre</label>
            </div>

            <div class="group">
              <input
                class="input-registro"
                type="text"
                name="username"
                id="username"
                autocomplete="off"
                required
              />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label class="label-registro">Username</label>
            </div>

            <div class="group">
              <input
                class="input-registro"
                type="text"
                name="email"
                id="email"
                autocomplete="off"
                required
              />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label class="label-registro">Email</label>
            </div>

            <div class="group">
              <input
                class="input-registro"
                type="password"
                name="password"
                id="password"
                autocomplete="off"
                required
              />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label class="label-registro">Password</label>
            </div>

            <div class="form-group">
              <select class="form-control" id="mySelect">
                <option value="ROLE_USER">Usuario</option>
                <option value="ROLE_ADMIN">Administrador</option>
              </select>
            </div>

            <button
              id="btnRegistrar"
              type="submit"
              class="btn btn-outline-danger"
            >
              Hacer registro
            </button>
          </form>
        </div>
      </div>
      <nav class="main-menu">
        <ul>
          <li>
            <a href="#/inicio" class="hiden">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text"> Graficas estadisticas </span>
            </a>
          </li>
          <li class="has-subnav">
            <a href="#/informacionEstadistica">
              <i class="fa fa-globe fa-2x"></i>
              <span class="nav-text"> Información estadística </span>
            </a>
          </li>
          <li class="has-subnav">
            <a href="#/auditorias" id="auditorias">
              <i class="fa fa-comments fa-2x"></i>
              <span class="nav-text"> Auditorias </span>
            </a>
          </li>
          <li>
            <a href="#/nuevaInfoEstadistica" id="nuevaInfoEst">
              <i class="fa fa-book fa-2x"></i>
              <span class="nav-text"> Nueva informacion estadistica </span>
            </a>
          </li>
          <li class="has-subnav">
            <a href="#/inicio">
              <i class="fa fa-info fa-2x"></i>
              <span class="nav-text"> Información histórica </span>
            </a>
            <ul class="submenu">
              <li>
                <a
                  href="http://200.119.89.147/sief/cod/informes_estadisticos/Informes_est_2019_01.pdf"
                >
                  <span class="nav-text"> Informe estadistico 2019-1 </span>
                </a>
              </li>
              <li>
                <a
                  href="http://200.119.89.147/sief/cod/informes_estadisticos/Informes_est_2019_02.pdf"
                >
                  <span class="nav-text"> Informe estadistico 2019-2 </span>
                </a>
              </li>
              <li>
                <a
                  href="http://200.119.89.147/sief/cod/informes_estadisticos/Informes_est_2020_01.pdf"
                >
                  <span class="nav-text"> Informe estadistico 2020-1 </span>
                </a>
              </li>
              <li>
                <a
                  href="http://200.119.89.147/sief/cod/informes_estadisticos/Informes_est_2020_02.pdf"
                >
                  <span class="nav-text"> Informe estadistico 2020-2 </span>
                </a>
              </li>
              <li>
                <a
                  href="http://200.119.89.147/sief/cod/informes_estadisticos/Informes_est_2021_01.pdf"
                >
                  <span class="nav-text"> Informe estadistico 2021-1 </span>
                </a>
              </li>
              <li>
                <a
                  href="http://200.119.89.147/sief/cod/informes_estadisticos/Informes_est_2021_02.pdf"
                >
                  <span class="nav-text"> Informe estadistico 2021-2 </span>
                </a>
              </li>
              <li>
                <a
                  href="http://200.119.89.147/sief/cod/informes_estadisticos/Informes_est_2022_01.pdf"
                >
                  <span class="nav-text"> Informe estadistico 2022-1 </span>
                </a>
              </li>
              <!-- Agrega más elementos de submenú si es necesario -->
            </ul>
          </li>
          <li>
            <a href="#/registroUsuarios" id="registroUsuarios">
              <i class="fa fa-cogs fa-2x"></i>
              <span class="nav-text">Registrar usuario </span>
            </a>
          </li>
        </ul>

        <ul class="logout">
          <li>
            <a id="cerrarSesion" href="#">
              <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text"> Cerrar sesión </span>
            </a>
          </li>
        </ul>
      </nav>

      <style>
        .submenu {
          display: none;
          position: absolute;
          background-color: black; /* Cambia el color de fondo del submenú a negro */
          color: white; /* Cambia el color de las letras del submenú a blanco */
          font-weight: bold; /* Aplica negrita a las letras del submenú */
          padding: 10px;
          left: 100%;
          top: 0;
        }

        .has-subnav:hover .submenu {
          display: block;
        }
      </style>
    </body>
  </html>
</div>
